@import-normalize; /* bring in normalize.css styles */
@import 'color';
@import 'font-size';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-dark);
  background: var(--color-background);
}

.pointer {
  cursor: pointer;
}
